.body {
	color: #475467;
}

.table {
	border-radius: 8px;
	border-collapse: separate;
	border-spacing: 0;
	overflow: hidden;
	color: #475467;
	font-size: 14px;
	margin-top: 20px;

	tr:first-child th:first-child {
		border-top-left-radius: 10px;
	}

	tr:last-child td:first-child {
		border-bottom-left-radius: 10px;
	}

	tr:first-child th:last-child {
		border-top-right-radius: 10px;
	}

	tr:last-child td:last-child {
		border-bottom-right-radius: 10px;
	}

	td,
	th {
		border-bottom: 1px solid #EAECF0;
	}

	tr th:first-child,
	tr td:first-child {
		border-left: 1px solid #EAECF0;
	}

	tr th:last-child,
	tr td:last-child {
		border-right: 1px solid #EAECF0;
	}

	tr th {
		border-top: 1px solid #EAECF0;
		background: #F9FAFB;
		font-size: 12px !important;
		font-weight: 500;
	}

	tr td {
		font-size: 14px !important;
		min-width: 100px;
		max-width: 250px;
	}
}

.select {
	input {
		height: 45px;
		border-radius: 8px;
		border: 1px solid #D0D5DD;
	}
}

.pagination {
	button {
		border: none;
		color: #475467;
		font-size: 14px;
		cursor: pointer;
		border-radius: 8px;
	}
}

.consentdocument:hover {
	background: #F9F5FF !important;
}

.consent .mantine-FileInput-input {
	padding-top: 12px;
    padding-bottom: 12px;
    background: #F9F5FF;
    border: none;
}

.consent .mantine-InputPlaceholder-placeholder {
	color: #101828;
	font-weight: 700;
}